body{
  background-image: url(../../Assets/Design\ sans\ titre.png);
  background-position: center;
background-size: cover;
z-index: 5;

height: 90vh;


}

.Acceuil{
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middlePage{
    margin-top: 7vh;
    height: 85%;
    display: flex;
  
    align-items: center;
    margin-left: 20vh;
   

}
.images{

 width: 700px;
 height: 700px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px #a294c7;
    z-index: 2;
}

.imagesContainer{

   
    width: 690px;
    height: 690px;
       border-radius: 50%;
       background-image: url(../../Assets/jeune-belle-etudiante-sac-dos-fait-selfie-isole-mur-blanc-studio.jpg);
       background-position: center;
  background-size: cover;
   
}
.accroches{
    
    width: 50%;
    height: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18vh;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 1px 10px #000000;
   border-radius: 12px;
   background:linear-gradient(15deg,pink,#393B65);
   position: relative;
   right: 20vh;
   
    
}

