/* .space{
    height:70vh;
}
.container{
    display: flex;
    flex-direction: column;
   align-items: center;

  width: 50%;
  margin-left: 49vh;
  box-shadow: 0 1px 10px black;
  position: relative;
  top:55vh ;
}
.messagerie{
    background:linear-gradient(15deg,#a294c7,#393b65c9);
    width: 100%;
   height: 80vh auto;
}
input{
    width: auto;
    height: auto;
} */
.container{
    background-image: url(../../Assets/7393473.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center ;

}

.container div{
    border-radius: 25px;
    background-color: rgba(216, 191, 216, 0.397);
    color: black;
    text-align: center;
}